
.rounded-24 {
    border-radius: 24px;
}

.badge {
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-8;
}

.badge-outline-primary {
    color: $primary-400;
    background-color: $gray-100;
    border: 1px solid $primary-200;
}


// 啟用響應式

$utilities: map-merge(
  $utilities,
  (
    "font-size":
    map-merge(
        map-get($utilities, "font-size"),
        (
            responsive: true,
        )
      ),

    "position":
    map-merge(
        map-get($utilities, "position"),
        (
            responsive: true,
        )
    ),

    "width":
    map-merge(
        map-get($utilities, "width"),
        (
            responsive: true,
        )
    )
  )
);
