
// Icon

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-md {
    width: 40px;
    height: 40px;
}

.icon-lg {
    width: 60px;
    height: 60px;
}

.icon-xl {
    width: 60px;
    height: 60px;

    @include media-breakpoint-up(lg) {
        width: 80px;
        height: 80px;
    }
}