
.footer {
    min-height: 521px;
    background-color: $white;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_footer_m.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    @include media-breakpoint-up(lg) {
        min-height: 330px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_footer.png?raw=true);
        background-position: left bottom;
    }


    .footer-mb {
        .bi-instagram {
            font-size: 18px;
        }

        .bi-facebook {
            color: $white;
            font-size: 38px;
        }
    }

    .footer-lg {
        .bi-instagram {
            color: $white;
            font-size: 18px;
        }

        .bi-facebook {
            color: $primary-400;
            font-size: 38px;
        }
    }

}