
html {
    scroll-timeline-name: --page-scroll;
    scroll-timeline-axis: block;    
}

.navbar {
    padding: 8px 16px;
    position: relative;
    z-index: 1001;

    a {
        display: block;
    }

    @include media-breakpoint-up (lg) {
        padding: 16px 80px;
        position: fixed;
        top: 56px;
        width: 100%;
        background-color: transparent;

        animation:
            navbar-position-change linear both,
            navbar-background-change linear both;
        animation-timeline:
            --page-scroll,
            --page-scroll;
        animation-range:
            30px 150px,
            90px 150px;
    }

    @keyframes navbar-position-change {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(-56px);
        }
    }

    @keyframes navbar-background-change {
        from {
            background-color: transparent;
        }

        to {
            background-color: $gray-100;
        }
    }

    .navbar-brand img {
        height: 28px;

        @include media-breakpoint-up (lg) {
            height: 56px;
        }
    }

    .nav-bg {
        border-radius: 12px;
        background-color: $white;
        padding: $spacing-12 $spacing-32 $spacing-12 $spacing-40;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        z-index: 1;
        background-color: $white;
    }

    &::after {
        content: "";
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        z-index: -1;

        @include media-breakpoint-up(lg) {
            content: none;
        }
    }

    &:has(.navbar-toggler:not(.collapsed))::after {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.navbar-toggler {
    .menu-icon {
        display: inline-block;
    }

    .close-icon {
        display: none;
    }

    // 除了 .collapsed 時
    &:not(.collapsed) {
        .menu-icon {
            display: none;
        }

        .close-icon {
            display: inline-block;
        }

    }
}

.navbar-actions:has(.navbar-toggler:not(.collapsed)) {
    .account-wrapper {
        display: none;
    }
}

.material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


.divider-top {
    border-top: 1px solid $gray-200;
}

.divider-bottom {
    border-bottom: 1px solid $gray-200;
}