
main {
    overflow-x: clip;
}

.hero {
    @include media-breakpoint-up (lg) {
        height: calc((100vh - 80px));   // 扣除 margin
        position: relative;
    }       

    .hero-bg {
        min-height: 100vh;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/index-m_Hero%20Image.png?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 24px;

        @include media-breakpoint-up (lg) {
            height: 100%;
            min-height: 0;  // 取消 100vh 高度
            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/index-hero-Image.png?raw=true);
            border-radius: 40px;
        }
    }

    .hero-content-bg {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg.png?raw=true);
        background-repeat: no-repeat;
        background-size: 820px 734px;
        background-position: center bottom;
        padding-bottom: 45px;
        
        .hero-content {
            max-width: 320px;

            @include media-breakpoint-up (lg) {
                max-width: 480px;
            }
        }

        @include media-breakpoint-up (sm) {
            background-position: -140px bottom;
        }

        @include media-breakpoint-up (lg) {
            background-size: 964px 766px;
            background-position: -104px bottom;
            padding-top: 206px;
            padding-bottom: 168px;
        }
    }
}

.search-bar {
    background-color: $gray-100;
    backdrop-filter: blur(20px);
    padding: $spacing-16;
    border-radius: 20px;

    @include media-breakpoint-up (lg) {
        min-width: 1238px;
        position: absolute;
        left: -130px;
        bottom: 0px;
        padding-block: $spacing-24;
        padding-right: $spacing-40;
        border-radius: 0;
        border-top-right-radius: 40px;

        &::after {
            content: "";
            position: absolute;
            right: -40px;
            bottom: 0;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border-bottom-left-radius: 40px;
            box-shadow: -10px 10px 0 10px $gray-100;
        }
    }

    @include media-breakpoint-up (xl) {
        left: 0;
    }
    
    .select-wrapper {
        width: 80%;
        position: relative;

        @include media-breakpoint-up (lg) {
            width: 100%;
        }
    
        .form-select {
            color: $light;
            padding-left: $spacing-40;
            padding-right: $spacing-48;
            background-image: none;     // 把 Bootstrap 原本的箭頭拿掉
        }
    
    // 加上選項符號
    &::before {
        content: attr(data-icon);   // 變換 icon
        font-family: "Material Symbols Outlined";
        font-size: 24px;
        font-weight: 200;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        pointer-events: none;
    }

    // 更改箭頭符號
    &::after {
        content: "arrow_drop_down";
        font-family: "Material Symbols Outlined";
        font-size: 24px;
        color: $primary-400;
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        pointer-events: none;            
        }
    }
}

.why-us {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display1.png?raw=true);
    background-repeat: no-repeat;
    background-size: 176px 138px;
    background-position: -36px 20px;

    @include media-breakpoint-up (lg) {
        min-height: 100vh;

        // 標題橘色石頭、下方白色石頭
        background-image:
            url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display1.png?raw=true),
            url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_stone_top.png?raw=true);
        background-size: 280px 220px, 100%;
        background-position: 154px 70px, bottom;

        position: relative;

        .container {
            position: relative;
            z-index: 1;
        }

        // 右邊白色石頭
        &::before {
            content: "";
            position: absolute;
            width: 585px;
            height: 450px;

            background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_stone.png?raw=true);
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(180deg);
            top: 120px;
            right: -228px;
            pointer-events: none;
            z-index: 0;
        }
    }

    .reason-text {
        max-width: 279px;
    }

    .featured-property-bg {
        min-height: 343px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display2.png?raw=true);
        background-repeat: no-repeat;
        background-size: 343px 343px;
        background-position: center;
        padding: 51px 0px;
        margin-bottom: -48px;

        @include media-breakpoint-up (lg) {
            min-height: 320px;
            background-size: 320px 320px;
            background-position: top;
            padding: 35px 0px;
            margin-bottom: 0;
        }
    }

    .expert-agents-bg {
        min-height: 343px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display3.png?raw=true);
        background-repeat: no-repeat;
        background-size: 343px 338px;
        background-position: center;
        padding: 48px 0px;
        margin-bottom: -48px;

        @include media-breakpoint-up (lg) {
            min-height: 320px;
            background-size: 320px 320px;
            background-position: top;
            padding: 35px 7px;
            margin-bottom: 0;
        }
    }

    .market-insights-bg {
        min-height: 343px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display4.png?raw=true);
        background-repeat: no-repeat;
        background-size: 343px 300px;
        background-position: top;
        padding: 32px 0px 27px 0px;    
        margin-bottom: -60px;

        @include media-breakpoint-up (lg) {
            min-height: 320px;
            background-size: 320px 280px;
            background-position: top;
            padding: 18px 7px 12px 7px;
            margin-bottom: 0;
        }
    }

    .transaction-protection-bg {
        min-height: 343px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display5.png?raw=true);
        background-repeat: no-repeat;
        background-size: 343px 290px;
        background-position: top;
        padding: 24px 0px 25px 0px; 
           
        @include media-breakpoint-up (lg) {
            min-height: 320px;
            background-size: 320px 290px;
            background-position: top;
            padding: 20px 7px;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-between(lg, xxl) {
    .why-us {
        .row {
            flex-wrap: nowrap;
            justify-content: center;
            gap: 0;
        }

        // 指定 .row 的直接子元素
        .row > .col {
            flex: 0 0 320px;
            max-width: 320px;
            margin-right: -30px;
        }
    }
}


.featured-property {
    &-white {
        background-color: $white;
    }
    
    .property-image {
        min-height: 207px;
        border: 0;
        border-radius: 24px;
        background-image:
        	linear-gradient(
				to bottom,
				rgba(35, 46, 26, 0.2),
				rgba(35, 46, 26, 0.7)
			),
            url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/index-img_house.png?raw=true);
   		
        background-size: cover;
        background-repeat: no-repeat;

        @include media-breakpoint-up (lg) {
            flex: 1 1 0;
            min-width: 0;
            min-height: 600px;
        }

        @media (min-width: 1440px) {
            flex: 0 0 448px;
            min-height: 600px;
        }

        @include media-breakpoint-up (xxl) {
            flex: 0 0 688px;
        }
    }

    .search-btn {
        width: 75%;

        @include media-breakpoint-up (lg) {
            width: 50%;
        }
    }

    .card-img-wrapper {
        position: relative;
    }

    .property-badge {
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}

.property-swiper {
    flex: 1 1 0;
    min-width: 0;
    height: 100%;
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-color: #{$secondary};
    --swiper-pagination-progressbar-bg-color: #{$gray-100};

    .swiper-controls {
        .swiper-button-prev,
        .swiper-button-next {
            color: $white;
            position: static;
            background-color: $primary-400;
            border-radius: 8px;
            transition: background-color 0.15s;

            &:hover {
                background-color: $primary-300;
            }
            
            .swiper-navigation-icon {
                display: none;
            }
        }

        .swiper-button-prev::after {
            content: "arrow_back";
            font-family: "Material Symbols Outlined";
            font-size: 24px;
        }

        .swiper-button-next::after {
            content: "arrow_forward";
            font-family: "Material Symbols Outlined";
            font-size: 24px;
        }        

        .swiper-pagination {
            position: static;
        }
    } 
}

.mortgage-calculator {
    @include media-breakpoint-up(lg) {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_stone_bottom.png?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .blob {
        width: 343px;    /* 對齊 SVG 的 width */
        height: 290px;   /* 對齊 SVG 的 height */
        clip-path: url(#blob-shape-mortgage);

        @include media-breakpoint-up(lg) {
            transform: translateY(80px) scale(1.8);
            transform-origin: center;

            view-timeline-name: --mortgage-blob;
        }
    }

    .blob img {
        @include media-breakpoint-up(lg) {
            width: 100%;
            height: 140%;      /* 比容器高，才有位移空間 */
            object-fit: cover;
            display: block;

            animation: mortgage-parallax linear both;
            animation-timeline: --mortgage-blob;    /* 2. 圖片引用這條進度軸 */
            animation-range: cover 0% cover 100%;            
        }
    }
}

@keyframes mortgage-parallax {                /* 3. 定義位移 */
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-23%);
    }
}


.ready-to-find-ideal-home {    
    overflow: visible;

    @include media-breakpoint-up(lg) {
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/stone.png?raw=true);
        background-size: 895px 636px;
        background-repeat: no-repeat;
        background-position: 53px 60px;
    }

    .blob {
        width: 343px;    /* 對齊 SVG 的 width */
        height: 262px;   /* 對齊 SVG 的 height */
        clip-path: url(#blob-shape-home);

        @include media-breakpoint-up(lg) {
            transform: translate(330px, 280px) scale(3);
            transform-origin: center;
            
            view-timeline-name: --home-blob;
        }
    }

    .blob img {
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(lg) {
            width: 100%;
            height: 140%;      /* 比容器高，才有位移空間 */
            object-fit: cover;
            display: block;

            animation: home-parallax linear both;
            animation-timeline: --home-blob;    /* 2. 圖片引用這條進度軸 */
            animation-range: cover 0% cover 100%;            
        }
    }    
}

@keyframes home-parallax {                /* 3. 定義位移 */
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-23%);
    }
}