
.property-search-hero {
    @include media-breakpoint-up (lg) {
        height: calc((100vh - 80px));
        position: relative;
    }

    .search-hero-bg {
        min-height: 220px;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/search-hero-image.png?raw=true);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        border-radius: 24px;    

        @include media-breakpoint-up (lg) {
            height: 100%;
            border-radius: 40px;

            .logo-bg {
                width: 320px;
                height: 132px;
                background-color: $gray-100;
                border-bottom-right-radius: 40px;

                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;                
            
                &::before {
                    content: "";
                    position: absolute;
                    left: 320px;
                    top: 0;
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    border-top-left-radius: 40px;
                    box-shadow: -10px -10px 0 10px $gray-100;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 132px;
                    width: 40px;
                    height: 40px;
                    background-color: transparent;
                    border-top-left-radius: 40px;
                    box-shadow: -10px -10px 0 10px $gray-100;
                }
            }
        }
    }

    .search-content-bg {
        @include media-breakpoint-up (lg) {
            max-width: 538px;            
            background-color: rgba(249, 249, 249, 0.8);
            backdrop-filter: blur(30px);
            border-radius: 40px;
            padding: $spacing-40 $spacing-60 $spacing-40 $spacing-40;

            position: absolute;
            top: 240px;
            left: 40px
        }
    }
}

.featured-property-gray {
    background-color: $gray-100;

    .card {
        background-color: transparent;
        transition: opacity 0.6s;

        &:hover {
            opacity: 0.8;
        }
    }
    
    @include media-breakpoint-up (lg) {
        // 標題橘色石頭
        background-image:
            url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/display1.png?raw=true),
            url(https://github.com/hexschool/2022-web-layout-training/blob/main/2026-week8/bg_stone.png?raw=true);
        
        background-size: 280px 220px, 1250px 987px;
        background-repeat: no-repeat, no-repeat;
        background-position: 154px 70px, 1027px 470px;
    }

    .category-list {
        display: flex;
        gap: $spacing-16;
        overflow-x: auto;
        flex-wrap: nowrap;

        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .btn {
            flex: 0 0 auto;
            white-space: nowrap;
        }

        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            overflow-x: visible;

            .btn {
                width: 100%;
            }
        }
    }
}

.pagination {
    .page-item.disabled .page-link {
        background-color: transparent;
    }

    .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;

        &:hover {
            color: $secondary;
        }
    }
    
    .page-link.active {
        color: $secondary;
        background-color: transparent;
    }
}